.productList__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productList__header > h2 {
    flex: 1;
}

.productList__buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 300px;
}

.productList__button {
    flex: 0.48;
}
  
.productList__productGrid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.carproductList__product > p {
    text-align: center;
}
  
/* Screen larger than 600px? 2 column */
@media (max-width: 900px) {
    .productList__productGrid { grid-template-columns: repeat(2, 1fr); }
}
  
/* Screen larger than 900px? 3 columns */
@media (max-width: 1200px) {
    .productList__productGrid { grid-template-columns: repeat(3, 1fr); }
}